{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "jest"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "settings": {
    "react": {
      "pragma": "OwnReact"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
